@charset"utf-8";

@import "pc.css" all and (min-width:961px);
@import "tablet.css" all and (max-width:960px);

*{ font-family: 'NanumSquare', sans-serif !important;}
/*sub*/
#sub_header{
}
.sub_slider_wrap{height: 460px; background-color: blue; }
.sub_slider_wrap ul{}
.sub_slider_wrap ul li.sub{
	height: 460px;
	background: url(../images/sub_img_01_01.jpg)no-repeat center;
	background-size:cover;
}
.sub_slider_wrap .sub_slider_txt{
	width: 700px; 
	position: absolute; 
	left:50%;
	margin-left:-370px;
	/*background-color: #fff;*/
	top:20%;
	color: white;
	text-align:center;
}
.sub_slider_txt h3{ 
	font-size:3.5em;
	/*text-shadow:0px 0px 8px #000;*/
	 }
.sub_slider_txt h3:after{
	content:"";
	display: block;
	width: 300px;
	height: 3px; 
	background-color: #fff;
	margin:20px auto;
	}
.sub_content{}
.sub_content .sub_content_wrap{
	width: 1260px;
	height:1600px;
	margin: 0 auto;
	/*background-color:pink;*/
	position: relative;
	border-bottom: 1px solid #000;
}
.sub_content_wrap .sub_hoem .home{
	display:block; position: absolute;top: 30px;
}
.sub_content_wrap .sub_hoem .home_r{
	display:block;
	position: absolute;
	top: 33px;left:28px;

}
.sub_content_wrap .sub_hoem div{
	font-size:0.6em;
	position: absolute;
	top: 30px;
	left:45px;
}
.sub_content_wrap .title{
	width: 700px;
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left:-370px;
	text-align:center;
	/*background-color: orange;*/
}
.sub_content_wrap .title h3:after{
	content:""; 
	display:block; 
	width: 50px;height: 3px; 
	background-color:black; 
	position: absolute;
	top:10px;
	left:46%;

}
.sub_content_wrap .title h3{
	font-size:35px;
	margin-top:30px;
}
.sub_content_wrap .hh{
	display:block;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left:-200px;
}
.sub_content_wrap .sub_img{
	position: absolute;
	top: 300px;
}
.sub_content_wrap .sub_img img{
	display:block;
}
.sub_content_wrap .sub_text{
	position: absolute;
	top: 1200px;
	left: 50%;
	margin-left:-480px;

}
.sub_content_wrap .sub_text p{
	display:block;
	text-align:center;
	font-size:1.2em;
	/*font-weight:bold;*/
}
/*sub01끝*/
.sub_slider_wrap ul li.sub02{
	height: 460px;
background: url(../images/sub_img_01_04.jpg) no-repeat ;
	background-size:cover;
}

.sub_slider_wrap .sub_box{
	width: 1260px; 
	height: 70px;
	/*background-color: red;*/
	position: absolute;
	top:390px;left: 50%;
	margin-left:-630px;
}
.sub_slider_wrap .sub_box ul{
	border-bottom: 1px solid orange;
}
.sub_slider_wrap .sub_box ul li{
	float:left;
	width: 315px;
	border-right: 1px solid #000;
	background-color:#aaaaaa;
	text-align:center;
	line-height: 70px;
	color:white
}
.sub_slider_wrap .sub_box ul li:last-child{
	border-right:none;
}
.sub_slider_wrap .sub_box ul li.on1{
	background-color:orange; color:
}
.sub_slider_wrap .sub_box ul li:hover{
	background-color: orange; color:white;
}
.sub02_content .sub02_content_wrap{
	width: 1260px;
	height:1600px;
	margin: 0 auto;
	/*background-color:blue;*/
	position: relative;
}
.sub02_content_wrap div{
	display:none;
}
.sub02_content_wrap div.upp{
	display:block;
}
.sub02_content_wrap .sub_hoem .home{
	display:block; position: absolute;top: 30px;
}
.sub02_content_wrap .sub_hoem .home_r{
	display:block;
	position: absolute;
	top: 33px;left:28px;

}
.sub02_content_wrap .sub_hoem .home_rr{
	display:block;
	position: absolute;
	top: 33px;left:95px;
}
.sub02_content_wrap .sub_hoem li{
	font-size:0.6em;
	position: absolute;
	top: 30px;
	left:45px;
}
.sub02_content_wrap .sub_hoem .text2{
	left:115px;
}
.sub02_content_wrap .title{
	width: 700px;
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left:-370px;
	text-align:center;
	/*background-color: orange;*/
}
.sub02_content_wrap .title h3:after{
	content:""; 
	display:block; 
	width: 50px;height: 3px; 
	background-color:black; 
	position: absolute;
	top:10px;
	left:46%;

}
.sub02_content_wrap .title h3{
	font-size:35px;
	margin-top:30px;
}
.sub02_content_wrap .img img{
	display:block;
	position: absolute;
	bottom:10px;
}

/*sub02끝*/
.sub_slider_wrap ul li.sub03{
	height: 460px;
background: url(../images/sub_img_01_08.jpg) no-repeat ;
	background-size:cover;
}
.sub03_content .sub03_content_wrap{
	width: 1260px;
    height: 1300px;
    margin: 0 auto;
    /*background-color: orange;*/
    position: relative;
}
.sub03_content_wrap .sub_hoem .home{
	display:block; position: absolute;top: 30px;
}
.sub03_content_wrap .sub_hoem .home_r{
	display:block;
	position: absolute;
	top: 33px;left:28px;

}
.sub03_content_wrap .sub_hoem div{
	font-size:0.6em;
	position: absolute;
	top: 30px;
	left:45px;
}
.sub03_content_wrap .title{
	width: 700px;
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left:-370px;
	text-align:center;
	/*background-color: orange;*/
}
.sub03_content_wrap .title h3:after{
	content:""; 
	display:block; 
	width: 50px;height: 3px; 
	background-color:black; 
	position: absolute;
	top:10px;
	left:46%;

}
.sub03_content_wrap .title h3{
	font-size:35px;
	margin-top:30px;
}
.sub03_content_wrap img{
	display:block;
	position: absolute;
	bottom:100px;
}
/*sub03끝*/
.sub_slider_wrap ul li.sub04{
	height: 460px;
background: url(../images/sub_img_01_11.jpg) no-repeat ;
	background-size:cover;
}
.sub04_content .sub04_content_wrap{
	width: 1260px;
    height: 800px;
    margin: 0 auto;
    /*background-color: orange;*/
    position: relative;
}
.sub04_content_wrap .sub_hoem .home{
	display:block; position: absolute;top: 30px;
}
.sub04_content_wrap .sub_hoem .home_r{
	display:block;
	position: absolute;
	top: 33px;left:28px;

}
.sub04_content_wrap .sub_hoem div{
	font-size:0.6em;
	position: absolute;
	top: 30px;
	left:45px;
}
.sub04_content_wrap .title{
	width: 700px;
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left:-370px;
	text-align:center;
	/*background-color: orange;*/
}
.sub04_content_wrap .title h3:after{
	content:""; 
	display:block; 
	width: 50px;height: 3px; 
	background-color:black; 
	position: absolute;
	top:10px;
	left:46%;

}
.sub04_content_wrap .title h3{
	font-size:35px;
	margin-top:30px;
}
.sub04_content_wrap img{
	display:block;
	position: absolute;
	bottom:100px;
}
/*sub04끝*/
.sub_slider_wrap ul li.sub05{
	height: 460px;
background: url(../images/sub_img_01_10.jpg) no-repeat ;
	background-size:cover;
}
.sub05_content .sub05_content_wrap{
	width: 1260px;
    height:1300px;
    margin: 0 auto;
    /*background-color: orange;*/
    position: relative;
}
.sub05_content_wrap .sub_hoem .home{
	display:block; position: absolute;top: 30px;
}
.sub05_content_wrap .sub_hoem .home_r{
	display:block;
	position: absolute;
	top: 33px;left:28px;

}
.sub05_content_wrap .sub_hoem div{
	font-size:0.6em;
	position: absolute;
	top: 30px;
	left:45px;
}
.sub05_content_wrap .title{
	width: 700px;
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left:-370px;
	text-align:center;
	/*background-color: orange;*/
}
.sub05_content_wrap .title h3:after{
	content:""; 
	display:block; 
	width: 50px;height: 3px; 
	background-color:black; 
	position: absolute;
	top:10px;
	left:46%;

}
.sub05_content_wrap .title h3{
	font-size:35px;
	margin-top:30px;
}
.sub05_content_wrap img{
	display:block;
	position: absolute;
	bottom: 100px;}

@media all and (max-width:630px){
	#main_header{height: 600px;}
	.slider_wrap ul li{height: 300px;}
	.slider_wrap h3{font-size:2em;}
	.slider_wrap p{font-size:0.7em;}
	#main_header .content li {height: 250px;}
}

@media all and (max-width:520px){
	#main_header{height: 550px;}
	.slider_wrap ul li{height: 200px;}
}


