@charset"utf-8";

/*header*/
header#main_header{
	width: 980px; 
    margin: 0 auto;
	position: relative;
	border-bottom: 1px solid gray;
}
header#main_header>ul{position: absolute;right:0;top:0;}
header#main_header>ul>li{	
	float: left; 
	margin: 0 auto; 
	width: 100px; 
	background-color: skyblue; 
	border-right: 1px solid gray;
	

}
header#main_header>h1{margin: 0 auto;width:200px;}
header#main_header>div.main_util{margin: 0 auto;width: 200px;}
header#main_header>div.main_util>div.util_menu{
	width: 400px;height: 30px;
	margin: 0 auto;
	position: absolute; right:0;
}
header#main_header>div.main_util>div.util_menu>ul{
	position: absolute;right: 0; 
	top:0;
}
header#main_header>div.main_util>div.util_menu>ul>li{  
}
header#main_header>div.main_util>div.util_menu>ul>li>a{
	border-right: 1px solid gray;
	text-align: center;
	color:white;
	line-height:20px;
	display: block;
    padding:0 40px;

}
header#main_header>div.main_util>div.util_menu>ul>li:last-child{border:none;}
