@charset"utf-8";

#header_wrap{
	height:153px;
	/*background-color:orange;*/
	background-color: #fbfbfb;
	border-bottom:  3px solid #0e73a7;


}
.header{
	height:90px;
	/*background-color:pink;*/
	background-image: url(../img/bgi01.jpg);
}
.util_menu_wrap{
	width: 980px;height: 90px;
	margin: 0 auto;
	/*background-color:black;*/
	position: relative;
}
.logo{
	position: absolute;
	top:45px;
	transform:translateY(-50%);
}

.box{
	width: 290px; height: 30px;
	background-color: #fff;
	border-radius:15px;
	position: absolute;
	left: 280px; top: 45px;
	position: relative;
	transform:translateY(-50%);
}

.text{
	position: absolute;
	left:7px;
	top:6px;
	font-weight:bold;
	font-size:0.8em;
	color:#333c41


}

.box img{
	position: absolute;
	right: 10px;
	top:8px;

}
.box #text2{
	position: absolute;
	right:40px;
	top:7px;
	border:none;
}
.call{
	color:white;
	position: absolute;
	right: 0;
	font-weight:bold;
	font-size:1.5em;
	top:45px; left:630px; 
	transform:translateY(-50%);
}
.icon{
	position: absolute;
	right: 0;
	top:45px;
	transform:translateY(-50%);
}

.gnb_menu_wrap{
	height: 60px;
	/*background-color: blue;*/
}
.gnb_menu{
	width: 980px;height: 60px;
	background-color: #fff;
	margin: 0 auto;

}
.gnb_menu>ul{}
.gnb_menu>ul>li{
	width: 163.33px;
	float:left;
	border-right: 1px solid #cdcdcd;
	background-color: #fbfbfb;
}
.gnb_menu li:nth-child(1){border-left: 1px solid #cdcdcd;}
.gnb_menu>ul>li>a{
	display:block;
	text-align:center;
	line-height: 60px;
	font-weight:bold;
	color:#152630;
}
.gnb_menu>ul>li>img{
	display:block;
	position: absolute;
	top: 108px;
	left: 835px;	

}

.gnb_menu a:hover{background-color: #0e73a7; color: white}

/*contents*/

#contents_wrap{
	height: 1236px;
	background-image: url(../img/bgi2.jpg);

}
.contents{
 
	width: 980px;
	height: 1152px;
	/*background-color: orange;*/
	margin: 0 auto; 
	padding-top:56px;
	position: relative;
	
}

/*contents_top*/
.contents_top{
	width: 980px;height: 556px;
	position: relative;
	margin-bottom:16px;
	position: relative;
}
.contents_top>li{
	position: absolute;
	width: 233px; height: 240px;
	background-color: white;
	float: left;
}
.contents_top img{display:block;}
label{
	display: block;
	padding:10px 0;
}
/*가고싶은 나라를 선택하세요*/
.contents_top .golo{
	position: absolute;
	top: 15px; left: 169px;
}
.contents_top .nanr{
	display: block;
	font-size:1em;
	font-weight:bold;
	color:#414141;
}
.contents_top #golo{
	width: 277px;
	height: 40px;
	border-radius:5px;
	border: 2px solid #ededed;
	color:#c4c4c4;
	text-indent:8px;
}
/*출발/도착일*/
.f_cell{
	position: absolute;
	width: 283px; height: 56px;
	/*background-color:pink;*/
	top:94px; left: 169px;

}
.f_cell>.cleft{
	float:left; width: 50%;
	padding-right:20px;
	font-weight:bold;
}

.f_cell>.cleft>#sdate{
	border: 2px solid #ededed;
	color:#c7c7c7c7;
	border-radius:5px;
	width: 128px; height: 29px;
	text-indent:2px;
}
.f_cell>.cright{
	float:right; width: 50%;
	font-weight:bold;
}
.f_cell>.cright>#edate{
	border: 2px solid #ededed;
	color:#c7c7c7c7;
	border-radius:5px;
	width: 128px; height: 29px;
	text-indent:2px;
}
/*좌석등급*/
.seat{
	position: absolute;
	top: 162px;
	left: 169px;
	font-weight:bold;
}
.seat>#cgrade{
	border: 2px solid #ededed;
	color:#c7c7c7c7;
	border-radius:5px;
	width: 113px; height: 30px;
	border-radius:5px;
}

/*인원*/
.personnel{
	position: absolute;	
	width: 138px;	height: 53px;
	top: 0;left: 138px;
	}
.personnel>.adult{
	float: left;width: 50%;
	padding-right:20px;
	font-weight: bold;
	
}
.personnel #num{
	border: 2px solid #ededed;
	color:#c7c7c7c7;
	border-radius:5px;
	width: 128px; height: 29px;
	text-indent:2px;
	width: 66px;height: 30px;
}
.personnel>.child{
	float: right; width: 50%;
	font-weight:bold;
}

/*button*/
.button{
	position: absolute;
	bottom:23px;
	left: 169px;
	width: 278px; height: 38px;
	background-color: #ea4f1f;
	border-radius:5px;
}
.button>a{
	display:block;
	text-align:center;
	line-height:38px;
	color:white;
	 font-weight: bold;

}

/*top_li3*/
.top_li3{
	position: relative;
	background: url(../img/bgi3.jpg);
	height: 100%;
}
.top_li3>a{
	position: absolute;
	bottom: 0;
	display: block;
	width: 233px;height: 50px;
	background-color:#152630;
	color: white;
}
.top_li3>a>p{
	color:white;
	float:left;
	line-height:50px;
	margin-left:21px;
	font-size:18px;

}
.top_li3>a>img{
	display: block;
	position: absolute;
	right:10px;top:20px;
}
.top_li3>a>p:nth-child(2){color:#6ec662;margin-left:18px;}

/*top_li4*/
.top_li4{
	position: relative;
	background: url(../img/bgi4.jpg);
	height: 100%;
}
.top_li4>a{
	position: absolute;
	bottom: 0;
	display: block;
	width: 233px;height: 50px;
	background-color:#152630;
	color: white;
}
.top_li4>a>p{
	color:white;
	float:left;
	line-height:50px;
	margin-left:21px;
	font-size:18px;

}
.top_li4>a>img{
	display: block;
	position: absolute;
	right:10px;top:20px;
}
.top_li4>a>p:nth-child(2){color:#6ec662;margin-left:20px;}



.contents_top>li:nth-child(1){width: 482px; height: 300px;}
.contents_top>li:nth-child(2){ width: 498px; height: 557px; background-color: blue;right: 0;}
.contents_top>li:nth-child(3){left: 0; top:316px;}
.contents_top>li:nth-child(4){left: 249px;top:316px;}


/*contents_middle*/

.contents_middle{margin-bottom:16px;}
.contents_middle>li{
	width: 233px; 
	height: 240px;
	float: left;
	background-color: skyblue;
	margin-right:16px;
}
.contents_middle>li:nth-child(4){margin-right:0;}


/*middle_li*/
.contents_middle >.middle_li1{
	background: url(../img/bgi5.jpg);
	position: relative;
}
.contents_middle >.middle_li1>a{
	position: absolute;
	bottom:0px;
	width: 233px;height: 65px; background-color:pink;
}


/*contents_bottom*/
.contents_bottom{margin-bottom:28px;}
.contents_bottom>li{
	width: 233px; height: 240px;
	float:left;
	background-color:black;
	margin-right:16px;
	color:white;
}
.contents_bottom>li:nth-child(4){margin-right:0;}


/*footer*/
#footer_wrap{
	height: 84px; 
	/*background-color: green;*/
}
.fooer{
	width: 980px; height: 84px;
	margin: 0 auto; 
	/*background-color: #fff;*/
}
.fooer_ul{
	margin-bottom:12px;
}
.fooer_ul>li{
	float: left;
	margin-right: 24px;
	font-size:0.9em;

}
.fooer_ul>li:nth-child(2){font-weight: bold;}
.fooer p{font-size:0.7em; color:#707070;}